<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Quicksand:300,400,500,700"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Following & Profiles</title>
</head>

<body>
    <!------------- START: NAVBAR ------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav justify-content-center navbar-light bg-light">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-calendar-alt"></i> Plans</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="#"><i class="fas fa-globe"></i> Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-users"></i> Following</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-bell"></i> Notifications</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i>
                    [UserName]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <a class="dropdown-item" href="#">Integrations</a>
                    <a class="dropdown-item" href="#">Invite Friends</a>
                    <a class="dropdown-item" href="#">Help</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <!------------- END: NAVBAR------------->
    <br>
    <!------------- START: FOLLOWING FRIENDS/NICHES TABS ------------->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-fill justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Niches</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!------------- END: FOLLOWING FRIENDS/NICHES TABS ------------->

    <hr>

    <!------------- START: FOLLOWING - FRIENDS FEED ------------->
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                </div>
                <div class="col-md-6">
                    <h5>Austin Schmidt</h5>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success"> > </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                </div>
                <div class="col-md-6">
                    <h5>Nate Yoakum</h5>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success"> > </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                </div>
                <div class="col-md-6">
                    <h5>Taylor Greenhut</h5>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success"> > </button>
                </div>
            </div>
        </div>
    </div>
    <!------------- END: FOLLOWING - FRIENDS FEEDS ------------->

    <hr>

    <!------------- START: FRIEND PROFILE VIEW ------------->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Nate Yoakum</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6>(888)-888-8888</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6>NateYoakum@Gmail.com</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="col-md-4">
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div class="col-md-4">
                        <i class="fab fa-twitter-square"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success">Unfollow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CAN USE SAME LOGIC FOR AVAILABILITY & PLANS FROM MY AVAILABILITY & PLANS TO DISPLAY-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Availability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Plans</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!------------- START: FRIENDS AVAILABILITY - DAYS------------->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <h5>Select A Day.</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <button type="button" class="btn btn-outline-primary btn-block">Monday</button>
                            <button type="button" class="btn btn-outline-primary btn-block">Tuesday</button>
                            <button type="button" class="btn btn-outline-primary btn-block">Wednesday</button>
                            <button type="button" class="btn btn-outline-primary btn-block">Thursday</button>
                            <button type="button" class="btn btn-outline-primary btn-block">Friday</button>
                            <button type="button" class="btn btn-outline-primary btn-block">Saturday</button>
                            <button type="button" class="btn btn-outline-primary btn-block">Sunday</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------- END: FRIENDS AVAILABILITY - DAYS ------------->

    <hr>

    <!------------- START: FRIENDS AVAILABILITY - TIMEFRAMES ------------->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <h5>[THIS DAY'S] AVAILABILITY</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <button type="button" class="btn btn-outline-primary btn-block">2:00 pm - 4:30 pm</button>
                    <button type="button" class="btn btn-outline-primary btn-block">6:30 pm - 7:30 pm</button>
                    <button type="button" class="btn btn-outline-primary btn-block">10:00 pm - 11:59 pm</button>
                </div>
            </div>
        </div>
    </div>
    <!------------- END: FRIENDS AVAILABILITY - TIMEFRAMES ------------->
    <!------------- END: FRIEND PROFILE VIEW ------------->
    <br>
    <hr>
    <br>
    <!--*****************************************************************************************-->
    <!-------------------------------- START: NICHE FOLLOWING  -------------------------------->
    <!--*****************************************************************************************-->

    <!------------- START: FOLLOWING NICHES LIST ------------->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Atlanta Braves</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6>Followers: 2493</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success">Share <i class="fas fa-share-alt"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success"> > </button>
            </div>
        </div>
    </div>

    <!------------- END: FOLLOWING NICHE LIST ------------->

    <hr>

    <!------------- START: NICHE PROFILE VIEW ------------->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Atlanta Braves</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6>Followers: 2539</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="col-md-4">
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div class="col-md-4">
                        <i class="fab fa-twitter-square"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success" id="unfollowNiche">Unfollow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------- END: NICHE PROFILE VIEW ------------->

    <hr>

    <!------------- START: NICHE PROFILE EVENTS ------------->
    <div class="container"> <!-- Overall container-->
        <div class="row"> <!-- Event Day Row-->
            <div class="col-12">
                <div class="container"> <!-- Container for Day Event Data -->
                    <h5>[Wednesday, March 6] EVENTS</h5>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row"> <!-- Row for All Events for Given Day -->
            <div class="col-12">
                <div class="container"> <!-- Specific Event Container -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Braves vs. Phillies</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Suntrust Park, 755 Battery Ave SE, Atlanta, GA 30339</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Starts: 7:15 pm</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-success">Attend <i
                                    class="far fa-calendar-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!------------- END: NICHE PROFILE EVENTS ------------->



    <!-------------------------------- BOOTSTRAP SCRIPTS -------------------------------->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>