<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Quicksand:300,400,500,700"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>My Plans</title>
</head>

<body>
    <!------------- START: NAVBAR ------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav justify-content-center navbar-light bg-light">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-calendar-alt"></i> Plans</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="#"><i class="fas fa-globe"></i> Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-users"></i> Following</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-bell"></i> Notifications</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i>
                    [UserName]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <a class="dropdown-item" href="#">Integrations</a>
                    <a class="dropdown-item" href="#">Invite Friends</a>
                    <a class="dropdown-item" href="#">Help</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <!------------- END: NAVBAR------------->
    <br>
    <!------------- START: PLANS TABS ------------->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-pills nav-fill justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">My Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Availability</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="dropdown" id="eventsFilter">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View: Upcoming
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Today</button>
                        <button class="dropdown-item" type="button">Tomorrow</button>
                        <button class="dropdown-item" type="button">This Weekend</button>
                        <button class="dropdown-item" type="button">This Month</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------- END: PLANS TABS ------------->

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <h5>[Wednesday, March 6] EVENTS</h5>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Braves vs. Phillies</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Suntrust Park </h6>
                                    <h6>755 Battery Ave SE, Atlanta, GA 30339</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Starts: 7:15 pm</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-success">Cancel <i
                                    class="far fa-calendar-minus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-------------------------------- BOOTSTRAP SCRIPTS -------------------------------->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>