body {
    font-size: 14px;
    font-family: 'Quicksand', "Open Sans", sans-serif;
    line-height: 1.4;
    color: #4D5055;
    word-wrap: break-word;
    word-break: break-word;
    display: block;
}

div {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}