<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Quicksand:300,400,500,700"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav justify-content-center navbar-light bg-light">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-calendar-alt"></i> Plans</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="#"><i class="fas fa-globe"></i> Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-users"></i> Following</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-bell"></i> Notifications</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i>
                    [UserName]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <a class="dropdown-item" href="#">Integrations</a>
                    <a class="dropdown-item" href="#">Invite Friends</a>
                    <a class="dropdown-item" href="#">Help</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </nav>


    <div id="page-wrapper">
        <div class="body-content">
            <div class="main-view" id="main-view">
                <div class="dashboard">
                    <div class="feature-controls">
                        <div class="sheltered content-wrapper">
                            <div class="search-title row">
                                <div class="search-title col-10">
                                    <form>
                                        <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                            aria-label="Search">
                                    </form>
                                </div>
                                <div class="new-plan col-2">
                                    <button type="button" class="btn btn-outline-primary">Plan <i
                                            class="fas fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="view-tabs col-8">
                                    <ul class="nav nav-pills nav-fill justify-content-center">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Friends</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Niches</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Nearby</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="filters col-4">
                                    <div class="dropdown" id="eventsFilter">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            View: Upcoming
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <button class="dropdown-item" type="button">Today</button>
                                            <button class="dropdown-item" type="button">Tomorrow</button>
                                            <button class="dropdown-item" type="button">This Weekend</button>
                                            <button class="dropdown-item" type="button">This Month</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-row">

                            </div>
                        </div>
                    </div>
                    <div class="content-wrapper">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------------- BOOTSTRAP SCRIPTS -------------------------------->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>